PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=calendar_redesign
PGUSER=calendar_redesign
PGPASSWORD=replace-with-a-local-only-password
PORT=4110
ENABLE_BACKGROUND_JOBS=false
ENABLE_PUSH_NOTIFICATIONS=false
